/* line 17, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 115, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 3, ../../app/stylesheets/core/_base-classes.sass */
.group, #wrap, #page, footer, header, #sub-nav, body#home .overview, ul#featured_sites {
  *zoom: 1;
}
/* line 22, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.group:after, #wrap:after, #page:after, footer:after, header:after, #sub-nav:after, body#home .overview:after, ul#featured_sites:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 6, ../../app/stylesheets/core/_base-classes.sass */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 9, ../../app/stylesheets/core/_base-classes.sass */
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../../app/stylesheets/core/_base-classes.sass */
.round-corners-4, #search-docs input, #docs_panel > div, .syntax_pref {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* line 15, ../../app/stylesheets/core/_base-classes.sass */
.round-corners-em {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
}

/* line 86, ../../app/stylesheets/partials/_theme.scss */
.inset-panel-dark, .code-block-dark, html.dark code, .mixin-panel-dark, html.dark #search-docs input, html.dark body#home .overview div, html.dark #featured_sites li {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #252525;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 90, ../../app/stylesheets/partials/_theme.scss */
.horizontal-rule-dark, html.dark #page, html.dark header, html.dark hr, html.dark body#home h2, html.dark aside h2, html.dark aside h3, html.dark body#home .overview div h4 {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

/* line 94, ../../app/stylesheets/partials/_theme.scss */
.horizontal-rule-top-dark, html.dark #page > article h2 {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 inset;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0 inset;
  border-top: 1px solid #121212;
}

/* line 98, ../../app/stylesheets/partials/_theme.scss */
.vertical-rule-dark, html.dark aside, html.dark footer .links li {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
  box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0;
  border-right: 1px solid #121212;
}

/* line 104, ../../app/stylesheets/partials/_theme.scss */
.demo-dark {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 10px inset, rgba(255, 255, 255, 0.3) 0 1px 2px 0px, rgba(0, 0, 0, 0.8) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 10px inset, rgba(255, 255, 255, 0.3) 0 1px 2px 0px, rgba(0, 0, 0, 0.8) 0 0 0 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 10px inset, rgba(255, 255, 255, 0.3) 0 1px 2px 0px, rgba(0, 0, 0, 0.8) 0 0 0 1px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 10px inset, rgba(255, 255, 255, 0.3) 0 1px 2px 0px, rgba(0, 0, 0, 0.8) 0 0 0 1px inset;
}

/* line 108, ../../app/stylesheets/partials/_theme.scss */
.heading-panel-dark {
  background: #202020;
  background: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
}
/* line 112, ../../app/stylesheets/partials/_theme.scss */
.heading-panel-dark a:hover {
  color: #fff;
}
/* line 113, ../../app/stylesheets/partials/_theme.scss */
.heading-panel-dark a:hover .arg {
  color: rgba(255, 255, 255, 0.6);
}

/* line 116, ../../app/stylesheets/partials/_theme.scss */
.doc-panel-dark {
  background: #252525;
  background: rgba(0, 0, 0, 0.1);
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
}

/* line 122, ../../app/stylesheets/partials/_theme.scss */
.syntax-switch-dark {
  color: #000;
  text-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
}
/* line 124, ../../app/stylesheets/partials/_theme.scss */
.syntax-switch-dark:hover {
  color: #fff;
  text-shadow: #000 0 1px 0;
}

/* line 126, ../../app/stylesheets/partials/_theme.scss */
.theme-switch-dark, html.dark #theme_pref {
  cursor: pointer;
}
/* line 128, ../../app/stylesheets/partials/_theme.scss */
.theme-switch-dark a, html.dark #theme_pref a {
  color: #000;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
}
/* line 129, ../../app/stylesheets/partials/_theme.scss */
.theme-switch-dark:hover a, html.dark #theme_pref:hover a {
  color: #eee;
  text-shadow: #000 0 1px 0;
}

/* line 132, ../../app/stylesheets/partials/_theme.scss */
.selected-marker-dark a:before {
  border-bottom-color: #121212;
}
/* line 133, ../../app/stylesheets/partials/_theme.scss */
.selected-marker-dark:before {
  border-bottom-color: #414141;
}
/* line 134, ../../app/stylesheets/partials/_theme.scss */
.selected-marker-dark:after {
  border-bottom-color: #323232;
}

/* line 138, ../../app/stylesheets/partials/_theme.scss */
.mixin-panel-dark td.gutter {
  background: rgba(255, 255, 255, 0.05);
}
/* line 138, ../../app/stylesheets/partials/_theme.scss */
.mixin-panel-dark td.gutter .line {
  border-right: 2px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.5);
}

/* line 176, ../../app/stylesheets/partials/_theme.scss */
.inset-panel-light, .code-block-light, html.light code, .mixin-panel-light, html.light #search-docs input, html.light body#home .overview div, html.light #featured_sites li {
  -moz-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 3px 0px inset;
  -webkit-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 3px 0px inset;
  -o-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 3px 0px inset;
  box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 3px 0px inset;
  text-shadow: 0 1px 1px #fff;
  background-color: rgba(0, 0, 0, 0.04);
}

/* line 181, ../../app/stylesheets/partials/_theme.scss */
.horizontal-rule-light, html.light #page, html.light header, html.light hr, html.light body#home h2, html.light aside h2, html.light aside h3, html.light body#home .overview div h4 {
  -moz-box-shadow: white 0 1px 0;
  -webkit-box-shadow: white 0 1px 0;
  -o-box-shadow: white 0 1px 0;
  box-shadow: white 0 1px 0;
  border-bottom: 1px solid #bbb;
}

/* line 185, ../../app/stylesheets/partials/_theme.scss */
.horizontal-rule-top-light, html.light #page > article h2 {
  -moz-box-shadow: white 0 1px 0 inset;
  -webkit-box-shadow: white 0 1px 0 inset;
  -o-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border-top: 1px solid #bbb;
}

/* line 189, ../../app/stylesheets/partials/_theme.scss */
.vertical-rule-light, html.light aside, html.light footer .links li {
  -moz-box-shadow: 1px 0 0 white;
  -webkit-box-shadow: 1px 0 0 white;
  -o-box-shadow: 1px 0 0 white;
  box-shadow: 1px 0 0 white;
  border-right: 1px solid #bbb;
}

/* line 193, ../../app/stylesheets/partials/_theme.scss */
.code-block-light, html.light code {
  background: rgba(255, 255, 255, 0.5);
}

/* line 195, ../../app/stylesheets/partials/_theme.scss */
.demo-light {
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px inset, white 0 1px 2px 0px, rgba(0, 0, 0, 0.05) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px inset, white 0 1px 2px 0px, rgba(0, 0, 0, 0.05) 0 0 0 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px inset, white 0 1px 2px 0px, rgba(0, 0, 0, 0.05) 0 0 0 1px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px inset, white 0 1px 2px 0px, rgba(0, 0, 0, 0.05) 0 0 0 1px inset;
}

/* line 197, ../../app/stylesheets/partials/_theme.scss */
.syntax-switch-light {
  color: rgba(0, 0, 0, 0.3);
  text-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
}
/* line 199, ../../app/stylesheets/partials/_theme.scss */
.syntax-switch-light:hover {
  color: #000;
  text-shadow: #fff 0 1px 0;
}

/* line 201, ../../app/stylesheets/partials/_theme.scss */
.theme-switch-light, html.light #theme_pref {
  cursor: pointer;
}
/* line 203, ../../app/stylesheets/partials/_theme.scss */
.theme-switch-light a, html.light #theme_pref a {
  color: rgba(0, 0, 0, 0.2);
  text-shadow: white 0 1px 0;
}
/* line 204, ../../app/stylesheets/partials/_theme.scss */
.theme-switch-light:hover a, html.light #theme_pref:hover a {
  color: #000;
}

/* line 206, ../../app/stylesheets/partials/_theme.scss */
.heading-panel-light {
  background: rgba(255, 255, 255, 0.5);
  -moz-box-shadow: rgba(0, 0, 0, 0.13) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0 0 0 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.13) 0 0 0 1px inset;
  box-shadow: rgba(0, 0, 0, 0.13) 0 0 0 1px inset;
}
/* line 209, ../../app/stylesheets/partials/_theme.scss */
.heading-panel-light a:hover {
  color: #000;
}
/* line 210, ../../app/stylesheets/partials/_theme.scss */
.heading-panel-light a:hover .arg {
  color: rgba(0, 0, 0, 0.6);
}

/* line 214, ../../app/stylesheets/partials/_theme.scss */
.selected-marker-light a:before {
  border-bottom-color: #bbbbbb;
}
/* line 215, ../../app/stylesheets/partials/_theme.scss */
.selected-marker-light:before {
  border-bottom-color: #fff;
}
/* line 216, ../../app/stylesheets/partials/_theme.scss */
.selected-marker-light:after {
  border-bottom-color: #e5e5e5;
}

/* line 219, ../../app/stylesheets/partials/_theme.scss */
.doc-panel-light {
  background: rgba(0, 0, 0, 0.03);
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 0 1px inset;
}

/* line 225, ../../app/stylesheets/partials/_theme.scss */
.mixin-panel-light {
  background: rgba(255, 255, 255, 0.8);
}
/* line 228, ../../app/stylesheets/partials/_theme.scss */
.mixin-panel-light td.gutter {
  background: rgba(0, 0, 0, 0.08);
}
/* line 228, ../../app/stylesheets/partials/_theme.scss */
.mixin-panel-light td.gutter .line {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
}

/* line 5, ../../app/stylesheets/partials/_layout.scss */
body {
  max-width: 1500px;
  min-width: 680px;
  margin: 0 auto;
  line-height: 1.45em;
}

/* line 13, ../../app/stylesheets/partials/_layout.scss */
#wrap {
  padding: 0 20px 20px;
}

/* line 14, ../../app/stylesheets/partials/_layout.scss */
#page {
  padding-bottom: 30px;
}

/* line 15, ../../app/stylesheets/partials/_layout.scss */
footer {
  clear: both;
  padding-top: 20px;
}

/* line 16, ../../app/stylesheets/partials/_layout.scss */
header {
  padding: 22px 0 0;
  position: relative;
}

/* line 17, ../../app/stylesheets/partials/_layout.scss */
#page aside + article {
  padding-left: 195px;
}

/* line 18, ../../app/stylesheets/partials/_layout.scss */
aside {
  float: left;
  width: 150px;
  position: relative;
  z-index: 2;
}

/* line 20, ../../app/stylesheets/partials/_layout.scss */
body#home #page article {
  padding-left: 0;
}

/* line 21, ../../app/stylesheets/partials/_layout.scss */
body.site, body#changelog {
  max-width: 1024px;
}

/* line 1, ../../app/stylesheets/partials/_nav.scss */
.triangle-marker, body.getting-started #module-nav li.getting-started a:before,
body.tutorial #module-nav li.tutorials a:before,
body.support #module-nav li.support a:before,
#module-nav li.selected a:before, body.getting-started #module-nav li.getting-started:before,
body.tutorial #module-nav li.tutorials:before,
body.support #module-nav li.support:before,
#module-nav li.selected:before, body.getting-started #module-nav li.getting-started:after,
body.tutorial #module-nav li.tutorials:after,
body.support #module-nav li.support:after,
#module-nav li.selected:after {
  border-color: transparent transparent;
  content: "\00a0";
  height: 0;
  width: 0;
  position: absolute;
  border-style: solid;
}

/* line 8, ../../app/stylesheets/partials/_nav.scss */
nav a {
  text-decoration: none;
}
/* line 4, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
nav a:hover {
  text-decoration: underline;
}

/* line 9, ../../app/stylesheets/partials/_nav.scss */
nav .selected a:hover {
  text-decoration: none;
}

/* line 11, ../../app/stylesheets/partials/_nav.scss */
header {
  font-size: 1.3em;
  border-width: 4px;
}

/* line 13, ../../app/stylesheets/partials/_nav.scss */
#main-nav {
  display: inline-block;
  padding-bottom: 10px;
}
/* line 16, ../../app/stylesheets/partials/_nav.scss */
#main-nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  line-height: 2em;
}
/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 48, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main-nav ul li:first-child, #main-nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main-nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#main-nav ul li.last {
  padding-right: 0;
}

/* line 20, ../../app/stylesheets/partials/_nav.scss */
#sub-nav {
  padding: 8px 0;
}

/* line 24, ../../app/stylesheets/partials/_nav.scss */
#docs-nav, #module-nav {
  display: inline-block;
  float: left;
}
/* line 27, ../../app/stylesheets/partials/_nav.scss */
#docs-nav a, #module-nav a {
  padding: 2px 10px;
  display: inline-block;
}

/* line 31, ../../app/stylesheets/partials/_nav.scss */
#docs-nav {
  padding-right: 20px;
}
/* line 32, ../../app/stylesheets/partials/_nav.scss */
#docs-nav + #module-nav {
  padding-left: 10px;
}

/* line 36, ../../app/stylesheets/partials/_nav.scss */
#module-nav {
  display: inline-block;
}
/* line 38, ../../app/stylesheets/partials/_nav.scss */
#module-nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#module-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
}

/* line 43, ../../app/stylesheets/partials/_nav.scss */
body.getting-started #module-nav li.getting-started,
body.tutorial #module-nav li.tutorials,
body.support #module-nav li.support,
#module-nav li.selected {
  position: relative;
}
/* line 45, ../../app/stylesheets/partials/_nav.scss */
body.getting-started #module-nav li.getting-started a,
body.tutorial #module-nav li.tutorials a,
body.support #module-nav li.support a,
#module-nav li.selected a {
  text-decoration: none;
}
/* line 48, ../../app/stylesheets/partials/_nav.scss */
body.getting-started #module-nav li.getting-started a:before,
body.tutorial #module-nav li.tutorials a:before,
body.support #module-nav li.support a:before,
#module-nav li.selected a:before {
  border-width: 0 8px 8px;
  z-index: 2;
  bottom: -9px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: #121212;
}
/* line 56, ../../app/stylesheets/partials/_nav.scss */
body.getting-started #module-nav li.getting-started:before,
body.tutorial #module-nav li.tutorials:before,
body.support #module-nav li.support:before,
#module-nav li.selected:before {
  border-bottom-color: #414141;
  border-width: 0 6px 6px;
  z-index: 3;
  bottom: -9px;
  left: 50%;
  margin-left: -6px;
}
/* line 64, ../../app/stylesheets/partials/_nav.scss */
body.getting-started #module-nav li.getting-started:after,
body.tutorial #module-nav li.tutorials:after,
body.support #module-nav li.support:after,
#module-nav li.selected:after {
  border-bottom-color: #343434;
  border-width: 0 5px 5px;
  z-index: 3;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}

/* line 74, ../../app/stylesheets/partials/_nav.scss */
#search-docs {
  width: 170px;
  float: right;
  position: relative;
  top: .3em;
}
/* line 80, ../../app/stylesheets/partials/_nav.scss */
#search-docs:before {
  content: "s";
  display: block;
  position: absolute;
  left: 6px;
  top: 4px;
  font-size: .8em;
  z-index: 20;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 91, ../../app/stylesheets/partials/_nav.scss */
#search-docs input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 170px;
  border: 0;
  margin: 0;
  padding: 5px 8px 5px 26px;
  font-size: .8em;
  float: right;
  position: relative;
}

@font-face {
  font-family: "pictos-web";
  src: url("/otherfonts/pictos-web.eot");
  src: local("?"), url("/otherfonts/pictos-web.woff") format("woff"), url("/otherfonts/pictos-web.ttf") format("truetype"), url("/otherfonts/pictos-web.svg#webfontIyfZbseF") format("svg");
}

@font-face {
  font-family: "museosans-web";
  src: url('/fonts/museosans-web.eot');
  src: url('/fonts/museosans-web.eot?iefix') format('eot'), url('/fonts/museosans-web.woff') format('woff'), url('/fonts/museosans-web.ttf') format('truetype'), url('/fonts/museosans-web.svg#webfontJHBEijmD') format('svg');
}

/* line 9, ../../app/stylesheets/partials/_typography.scss */
.sans-font, body, #search-docs input {
  font-family: 'Lucida Grande', Arial, sans-serif;
}

/* line 10, ../../app/stylesheets/partials/_typography.scss */
.heading-font, header, #page h1, #page h2, body#home h1, body#home h2, body#home h3, body#home h4, body#home h5, body#home h6 {
  font-family: 'Museo Sans', 'serif';
}

/* line 11, ../../app/stylesheets/partials/_typography.scss */
.pictos, #search-docs:before, #theme_pref a, h2 a.help:before, body#home .overview div h4:before {
  font-family: pictos, pictos-web;
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../../app/stylesheets/partials/_typography.scss */
.fixed-font {
  font-family: menlo, monaco, "andale mono", "courier new", fixed;
}

/* line 14, ../../app/stylesheets/partials/_typography.scss */
#page {
  line-height: 1.45em;
}
/* line 16, ../../app/stylesheets/partials/_typography.scss */
#page ol {
  list-style: outside decimal;
  padding-left: 2.5em;
}
/* line 17, ../../app/stylesheets/partials/_typography.scss */
#page ol ol {
  list-style: outside lower-alpha;
  padding-left: 2.5em;
}
/* line 18, ../../app/stylesheets/partials/_typography.scss */
#page ul, #page ol, #page dl {
  margin-bottom: 1.5em;
}
/* line 19, ../../app/stylesheets/partials/_typography.scss */
#page p {
  margin-bottom: 1.2em;
}
/* line 20, ../../app/stylesheets/partials/_typography.scss */
#page h1, #page h2 {
  line-height: 1.2em;
}
/* line 21, ../../app/stylesheets/partials/_typography.scss */
#page h1 {
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 6px;
}
/* line 22, ../../app/stylesheets/partials/_typography.scss */
#page h2 {
  font-size: 26px;
  margin: 1em 0 15px;
  padding-bottom: 6px;
}
/* line 23, ../../app/stylesheets/partials/_typography.scss */
#page h3 {
  font-size: 18px;
}
/* line 24, ../../app/stylesheets/partials/_typography.scss */
#page h4 {
  font-size: 18px;
  margin: .4em 0;
}
/* line 25, ../../app/stylesheets/partials/_typography.scss */
#page ul {
  list-style: inside disc;
}
/* line 26, ../../app/stylesheets/partials/_typography.scss */
#page dt {
  font-weight: bold;
}

/* line 29, ../../app/stylesheets/partials/_typography.scss */
#page aside ul {
  list-style: none;
  margin-bottom: 1em;
}
/* line 30, ../../app/stylesheets/partials/_typography.scss */
#page aside h2 {
  line-height: 1.3em;
  margin-top: 0;
  padding-top: 3px;
}

/* line 32, ../../app/stylesheets/partials/_typography.scss */
em {
  font-style: italic;
}

/* line 34, ../../app/stylesheets/partials/_typography.scss */
#page > article {
  position: relative;
}
/* line 36, ../../app/stylesheets/partials/_typography.scss */
#page > article h2 {
  font-size: 26px;
  margin: .5em 0 .6em;
  padding: 1em 0 6px;
}
/* line 38, ../../app/stylesheets/partials/_typography.scss */
#page > article hr + h2 {
  padding-top: 0;
}
/* line 39, ../../app/stylesheets/partials/_typography.scss */
#page > article hr + h3, #page > article h4, #page > article h5 {
  margin-top: 0;
}

/* line 42, ../../app/stylesheets/partials/_typography.scss */
dl.table dt, dl.table dd {
  display: inline-block;
}

/* line 43, ../../app/stylesheets/partials/_typography.scss */
dg {
  display: block;
}

/* line 1, ../../app/stylesheets/partials/_main.scss */
#page {
  position: relative;
  padding-top: 40px;
}
/* line 4, ../../app/stylesheets/partials/_main.scss */
#page > article {
  padding-top: 10px;
  font-size: 15px;
}

/* line 7, ../../app/stylesheets/partials/_main.scss */
#theme_pref a {
  display: block;
  font-size: 18px;
  width: .9em;
  position: relative;
  text-decoration: none;
}

/* line 9, ../../app/stylesheets/partials/_main.scss */
#docs_panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
/* line 12, ../../app/stylesheets/partials/_main.scss */
#docs_panel > div {
  float: right;
  margin-left: 10px;
  border: 1px solid;
  border-top: 0;
}
/* line 13, ../../app/stylesheets/partials/_main.scss */
#docs_panel a {
  text-decoration: none;
}
/* line 14, ../../app/stylesheets/partials/_main.scss */
#docs_panel #theme_pref {
  padding: 3px 12px 6px;
}
/* line 14, ../../app/stylesheets/partials/_main.scss */
#docs_panel #theme_pref a {
  position: relative;
  top: 2px;
}
/* line 15, ../../app/stylesheets/partials/_main.scss */
#docs_panel #version {
  font-size: .75em;
  padding: 4px 0 5px;
  background: none;
  border: none;
  position: absolute;
  left: 0;
}
/* line 15, ../../app/stylesheets/partials/_main.scss */
#docs_panel #version a {
  text-decoration: none;
}
/* line 4, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
#docs_panel #version a:hover {
  text-decoration: underline;
}

/* line 19, ../../app/stylesheets/partials/_main.scss */
#syntax_pref, .syntax_pref {
  padding: 4px 8px 5px;
}
/* line 19, ../../app/stylesheets/partials/_main.scss */
#syntax_pref a, .syntax_pref a {
  font-size: .9em;
  padding: 0px 6px 1px;
  display: inline-block;
  line-height: 1.45em;
}

/* line 21, ../../app/stylesheets/partials/_main.scss */
.syntax_pref {
  float: right;
  border: 1px solid;
  border-bottom: 0;
}
/* line 23, ../../app/stylesheets/partials/_main.scss */
.syntax_pref a {
  text-decoration: none;
}

/* line 27, ../../app/stylesheets/partials/_main.scss */
footer .links {
  float: left;
  font-size: .9em;
}
/* line 28, ../../app/stylesheets/partials/_main.scss */
footer .links img {
  vertical-align: middle;
  padding-right: 5px;
  position: relative;
  top: -2px;
}
/* line 29, ../../app/stylesheets/partials/_main.scss */
footer .links span {
  position: relative;
  top: -1px;
}
/* line 30, ../../app/stylesheets/partials/_main.scss */
footer .links ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}
/* line 60, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .links ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 48, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .links ul li:first-child, footer .links ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .links ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
footer .links ul li.last {
  padding-right: 0;
}
/* line 31, ../../app/stylesheets/partials/_main.scss */
footer .links ul li {
  padding-top: 3px;
}
/* line 32, ../../app/stylesheets/partials/_main.scss */
footer .links ul li:last-child {
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 34, ../../app/stylesheets/partials/_main.scss */
#page article h2 {
  margin-top: 1.5em;
}

/* line 37, ../../app/stylesheets/partials/_main.scss */
h2 a.help {
  text-indent: -9999px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 43, ../../app/stylesheets/partials/_main.scss */
h2 a.help:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 44, ../../app/stylesheets/partials/_main.scss */
h2 a.help:before {
  content: "?";
  text-indent: 0;
  position: absolute;
  top: 2px;
  left: 0;
  font-size: .85em;
}

/* line 54, ../../app/stylesheets/partials/_main.scss */
hr {
  height: 0px;
  border: 0;
  border-bottom-width: 4px;
  margin: 3em 0;
  background: transparent;
}

/* line 1, ../../app/stylesheets/partials/_home.scss */
body#home {
  width: 810px;
}
/* line 3, ../../app/stylesheets/partials/_home.scss */
body#home #page {
  padding-top: 31px;
}
/* line 4, ../../app/stylesheets/partials/_home.scss */
body#home h1#logo {
  background: url('/images/compass-logo.png?1292362521') no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  width: 423px;
  height: 88px;
  padding: 0;
  margin: 0 auto 18px;
}
/* line 15, ../../app/stylesheets/partials/_home.scss */
body#home h2 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  line-height: 1.1em;
}
/* line 22, ../../app/stylesheets/partials/_home.scss */
body#home h3 {
  text-align: center;
  font-size: 25px;
  margin-top: 32px;
}
/* line 27, ../../app/stylesheets/partials/_home.scss */
body#home h4 {
  font-size: 1.5em;
}
/* line 30, ../../app/stylesheets/partials/_home.scss */
body#home .overview .compass {
  width: 406px;
  float: left;
}
/* line 31, ../../app/stylesheets/partials/_home.scss */
body#home .overview .compass h4:before {
  content: "k";
}
/* line 32, ../../app/stylesheets/partials/_home.scss */
body#home .overview .sass {
  width: 275px;
  float: right;
}
/* line 33, ../../app/stylesheets/partials/_home.scss */
body#home .overview .sass h4:before {
  content: "2";
}
/* line 34, ../../app/stylesheets/partials/_home.scss */
body#home .overview div {
  padding: 20px;
}
/* line 36, ../../app/stylesheets/partials/_home.scss */
body#home .overview div h4 {
  padding-bottom: 12px;
  margin-bottom: 12px;
}
/* line 39, ../../app/stylesheets/partials/_home.scss */
body#home .overview div h4:before {
  color: #fb292d;
  display: inline-block;
  font-size: 1.2em;
  padding-right: .3em;
}
/* line 48, ../../app/stylesheets/partials/_home.scss */
body#home .overview ol {
  padding-left: 0;
  list-style: inside decimal;
  margin-bottom: 0;
}
/* line 49, ../../app/stylesheets/partials/_home.scss */
body#home .overview p {
  margin-bottom: 0;
}
/* line 50, ../../app/stylesheets/partials/_home.scss */
body#home .overview ol, body#home .overview p {
  line-height: 1.8em;
  font-size: .95em;
}

/* line 53, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites {
  overflow: visible;
  margin-top: 30px;
  list-style: none;
  padding: 0px;
}
/* line 59, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li {
  float: left;
  text-shadow: none;
  overflow: visible;
  position: relative;
  padding: 6px;
}
/* line 64, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li:nth-child(3n+2) {
  margin: 0 7px;
}
/* line 65, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li:nth-child(1n+4) {
  margin-top: 7px;
}
/* line 66, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li:nth-child(3n+4) {
  clear: left;
}
/* line 68, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li a {
  text-decoration: none;
}
/* line 69, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li img {
  float: left;
  width: 240px;
}
/* line 70, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li span {
  display: none;
}
/* line 71, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li:hover {
  z-index: 100;
  padding: 3px 2px;
}
/* line 73, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li:hover img {
  width: 248px;
}
/* line 74, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li:hover span {
  display: block;
  position: absolute;
  text-shadow: none;
}
/* line 76, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li .url {
  bottom: 2px;
  left: 2px;
  right: 2px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  z-index: 102;
  padding: 2.2em 10px 6px;
  font-size: .8em;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 79, ../../app/stylesheets/partials/_home.scss */
ul#featured_sites li .title {
  bottom: 1.7em;
  left: 0;
  z-index: 103;
  text-decoration: none;
  padding: 0 11px;
  color: #fff;
}

/* line 82, ../../app/stylesheets/partials/_home.scss */
html.light body#home h1#logo {
  background-position: bottom;
}

/* line 2, ../../app/stylesheets/partials/_theme.scss */
html.dark body {
  background: #2f2f2f;
  color: #c6c6c6;
}
/* line 3, ../../app/stylesheets/partials/_theme.scss */
html.dark body a {
  color: #84bcde;
}
/* line 6, ../../app/stylesheets/partials/_theme.scss */
html.dark header {
  border-width: 4px;
}
/* line 8, ../../app/stylesheets/partials/_theme.scss */
html.dark nav a {
  color: #bfbfbf;
}
/* line 9, ../../app/stylesheets/partials/_theme.scss */
html.dark #main-nav a {
  color: white;
}
/* line 16, ../../app/stylesheets/partials/_theme.scss */
html.dark body#home #main-nav a[rel=home],
html.dark body#help #main-nav a[rel=help],
html.dark body.tutorial #main-nav a[rel=help],
html.dark body.reference #main-nav a[rel=documentation],
html.dark body#changelog #main-nav a[rel=documentation],
html.dark body#get-involved #main-nav a[rel=get-involved] {
  color: #fb292d;
}
/* line 18, ../../app/stylesheets/partials/_theme.scss */
html.dark #search-docs input {
  color: #6e6e6e;
}
/* line 20, ../../app/stylesheets/partials/_theme.scss */
html.dark #search-docs input::-webkit-input-placeholder {
  color: #6e6e6e;
}
/* line 21, ../../app/stylesheets/partials/_theme.scss */
html.dark h1, html.dark h2, html.dark h3, html.dark h4, html.dark h5, html.dark h6 {
  color: white;
}
/* line 22, ../../app/stylesheets/partials/_theme.scss */
html.dark h1 strong, html.dark h2 strong, html.dark h3 strong, html.dark h4 strong, html.dark h5 strong, html.dark h6 strong {
  color: #fb292d;
}
/* line 23, ../../app/stylesheets/partials/_theme.scss */
html.dark h1 em, html.dark h2 em, html.dark h3 em, html.dark h4 em, html.dark h5 em, html.dark h6 em {
  color: #dadbb1;
}
/* line 26, ../../app/stylesheets/partials/_theme.scss */
html.dark hr {
  border-bottom-width: 8px;
}
/* line 30, ../../app/stylesheets/partials/_theme.scss */
html.dark aside h2 a {
  color: #dbdbdb;
}
/* line 34, ../../app/stylesheets/partials/_theme.scss */
html.dark code {
  color: #dadbb1;
}
/* line 37, ../../app/stylesheets/partials/_theme.scss */
html.dark #docs_panel div, html.dark .syntax_pref {
  background: rgba(255, 255, 255, 0.03);
  border-color: rgba(0, 0, 0, 0.3);
}

/* line 2, ../../app/stylesheets/partials/_theme.scss */
html.light body {
  background: #ececec;
  color: #111111;
}
/* line 3, ../../app/stylesheets/partials/_theme.scss */
html.light body a {
  color: #307eb6;
}
/* line 6, ../../app/stylesheets/partials/_theme.scss */
html.light header {
  border-width: 4px;
}
/* line 8, ../../app/stylesheets/partials/_theme.scss */
html.light nav a {
  color: #444444;
}
/* line 9, ../../app/stylesheets/partials/_theme.scss */
html.light #main-nav a {
  color: black;
}
/* line 16, ../../app/stylesheets/partials/_theme.scss */
html.light body#home #main-nav a[rel=home], html.light body#help #main-nav a[rel=help], html.light body.tutorial #main-nav a[rel=help], html.light body.reference #main-nav a[rel=documentation], html.light body#changelog #main-nav a[rel=documentation], html.light body#get-involved #main-nav a[rel=get-involved] {
  color: #d40408;
}
/* line 18, ../../app/stylesheets/partials/_theme.scss */
html.light #search-docs input {
  color: #666666;
}
/* line 20, ../../app/stylesheets/partials/_theme.scss */
html.light #search-docs input::-webkit-input-placeholder {
  color: #666666;
}
/* line 21, ../../app/stylesheets/partials/_theme.scss */
html.light h1, html.light h2, html.light h3, html.light h4, html.light h5, html.light h6 {
  color: #222222;
}
/* line 22, ../../app/stylesheets/partials/_theme.scss */
html.light h1 strong, html.light h2 strong, html.light h3 strong, html.light h4 strong, html.light h5 strong, html.light h6 strong {
  color: #d40408;
}
/* line 23, ../../app/stylesheets/partials/_theme.scss */
html.light h1 em, html.light h2 em, html.light h3 em, html.light h4 em, html.light h5 em, html.light h6 em {
  color: #222222;
}
/* line 26, ../../app/stylesheets/partials/_theme.scss */
html.light hr {
  border-bottom-width: 8px;
}
/* line 30, ../../app/stylesheets/partials/_theme.scss */
html.light aside h2 a {
  color: black;
}
/* line 34, ../../app/stylesheets/partials/_theme.scss */
html.light code {
  color: #222222;
}
/* line 37, ../../app/stylesheets/partials/_theme.scss */
html.light #docs_panel div, html.light .syntax_pref {
  background: white;
  border-color: rgba(0, 0, 0, 0.2);
}

/* line 1, ../../app/stylesheets/core/_clearing-classes.sass */
.clear-top-left-corner, #docs_panel > div {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  -ms-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;
}

/* line 3, ../../app/stylesheets/core/_clearing-classes.sass */
.clear-top-right-corner, #docs_panel > div {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  -ms-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

/* line 5, ../../app/stylesheets/core/_clearing-classes.sass */
.clear-bottom-left-corner, .syntax_pref {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 7, ../../app/stylesheets/core/_clearing-classes.sass */
.clear-bottom-right-corner, .syntax_pref {
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 10, ../../app/stylesheets/core/_clearing-classes.sass */
.hide {
  display: none;
}

/* line 12, ../../app/stylesheets/core/_clearing-classes.sass */
.clear-box-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 16, ../../app/stylesheets/core/_clearing-classes.sass */
.clear-rounded-corners, .clear-border-radius {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
