<div id="share_links">
  <% content_for :head do %>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <% end %>
  <div class="note">
    <%=link_to (image_tag "icons/note.png", :width => 30,:height => 30,:alt => "Take Note"), new_post_path, :rel=>"facebox" %>
  </div>
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="sitescamp">Tweet</a>
  <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script><script type="in/share" data-counter="right"></script>
  <g:plusone></g:plusone>
</div>
