- sitefeeds.each do |sf|
  %li
    .image
      = image_tag sf.site.logo.url.to_s, :class => "img-load", :size => "45x45"
    .details
      %h5
        = link_to sf.site.name, site_path(sf)
      %span.date= sf.links
